.exercise_list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  max-height: 400px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--neutral-gray-6);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  @media (min-height: 920px) {
    max-height: 700px
  }

  @media (min-height: 1024px) {
    max-height: 920px
  }

  @media (min-height: 1124px) {
    max-height: 920px
  }

  @media (min-height: 1194px) {
    max-height: 980px
  }

  @media (max-width: 680px) {
    max-height: 315px;
  }
}

.buttons {
  display: flex;

  .add_button {
    text-align: center;
    background-color: var(--neutral-gray-4);
    border: none;
    padding: 7px 12px;
    font-size: 14px;
    color: var(--primary-light-6);
  }

  .delete_button {
    text-align: center;
    background-color: var(--neutral-gray-4);
    border: none;
    padding: 7px 12px;
    font-size: 14px;
  }
}