.alert {
  z-index: 10;
  position: fixed;
  bottom: 72px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 48px);
  max-width: 395px;

  @media (max-width: 480px) {
    bottom: 90px;
  }
}