.error_modal_wrapper {
  z-index: 14;
  padding: var(--padding-modal-wrapper);
  .error_modal {
    max-width: 416px;

    :global {
      .ant-modal-body {
        padding: var(--padding-modal-body);

        .ant-modal-confirm-title {
          font-size: 16px;
          font-weight: 500;
          line-height: 130%;
        }
        .ant-modal-confirm-content {
          line-height: 130%;
        }
      }
    }
  }
}