.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 185px;

  @media (max-width: 980px) {
    max-width: 100%;
  }

  .title {
    margin: 0;
    font-size: 14px;
    line-height: 130%;
  }

  .workload_list {
    max-width: 185px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(7, 32px);
    column-gap: 16px;
    row-gap: 4px;
  }
}