:global {
  .ant-drawer-right .ant-drawer-content-wrapper {
    border-radius: var(--boreder-radius-left);
    box-shadow: var(--drawer-box-shadow);
  }

  .ant-drawer-bottom .ant-drawer-content-wrapper {
    border-radius: var(--boreder-radius-top);
    box-shadow: var(--drawer-box-shadow);
  }
}

.drawer_mobile {
  max-height: 100%;

  :global {
    .ant-drawer-content {
      border-radius: var(--boreder-radius-top);
    }
  }
}

.drawer_fullscreen {
  :global {
    .ant-drawer-content {
      border-radius: var(--boreder-radius-left);
    }
  }
}

.drawer {
  :global {
    .ant-drawer-content {
      .ant-drawer-body {
        padding: var(--padding-clear);
      }
    }
  }

  .drawer_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .drawer_header {
      padding: var(--padding-drawer);
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;

      @media (max-width: 680px) {
        padding: var(--padding-drawer-small);
      }

      .drawer_icon {
        display: block;
        font-size: 14px;
        margin-top: 2px;
      }

      .drawer_title {
        margin: 0;
        flex: 1;
      }

      .button_close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14px;
        height: 14px;
        color: var(--character-light-secondary-45);
      }
    }

    .drawer_info {
      padding: 0px 32px 8px;
      display: flex;
      justify-content: space-between;

      @media (max-width: 680px) {
        padding: 0px 16px 8px;
      }

      .date {
        font-size: 14px;
        font-weight: 500;
        color: var(--character-light-secondary-45);
      }
    }

    .drawer_body {
      max-height: calc(100% - 94px);
      padding: 24px 32px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      @media (max-width: 680px) {
        padding: 24px 16px;
      }

      .exercise_list {
        display: flex;
        flex-direction: column;
        gap: 24px;

        max-height: calc(100% - 64px);
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 20px;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--neutral-gray-6);
          border-radius: 20px;
          border: 6px solid transparent;
          background-clip: content-box;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #a8bbbf;
        }
      }

      .buttons {
        display: flex;

        .add_button {
          text-align: center;
          background-color: var(--neutral-gray-4);
          border: none;
          padding: var(--padding-button);
          color: var(--primary-light-6);
        }

        .delete_button {
          text-align: center;
          background-color: var(--neutral-gray-4);
          border: none;
          padding: var(--padding-button);
          font-size: 14px;
        }
      }
    }
  }
}