.form {
  :global {
    .ant-input {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .form_item_email {
    margin-bottom: 32px;

    :global {
      .ant-input {
        height: 40px;
      }

      .ant-input-group-addon {
        padding: var(--padding-horizontal-small);
      }
    }
  }

  .form_item_password {
    margin-bottom: 16px;

    @media (max-width: 480px) {
      margin-bottom: 12px;
    }

    :global {
      .ant-input {
        font-size: 14px;
      }

      .ant-form-item-explain {
        padding-top: 2px;
        font-size: 12px;
        min-height: 46px;
      }
    }
  }

  .form_item_confirm_password {
    margin-bottom: 60px;

    @media (max-width: 480px) {
      margin-bottom: 55px;
    }

    :global {
      .ant-form-item-explain {
        margin-top: 2px;
        font-size: 12px;
        min-height: 30px;
      }
    }
  }

  .form_button_submit {
    margin-bottom: 16px;

    :global {
      .ant-btn {
        @media (max-width: 640px) {
          font-size: 14px;
        }
      }
    }
  }

  .form_button_google {
    margin-bottom: 0;

    :global {
      .ant-btn {
        @media (max-width: 640px) {
          font-size: 14px;
        }

        .anticon {
          @media (max-width: 480px) {
            display: none;
          }
        }

        @media (max-width: 480px) {
          span {
            margin-left: 0;
          }
        }
      }
    }
  }
}