.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  background: #799cd450;
  z-index: 9999;

  &.loader_hidden {
    display: none;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  .loader_container {
    @media (min-width: 1400px) {
      margin-top: -80px;
    }

  }
}