.modal_wrap {
  padding: var(--padding-modal-wrapper);
}

.modal {
  max-width: 540px;

  :global {
    .ant-modal-body {
      padding: var(--padding-modal-wrapper);

      @media (max-width: 768px) {
        padding: var(--padding-mobile-wrapper);
      }
    }
  }

  .result {
    padding: var(--padding-clear);

    :global {
      .ant-result-icon {
        padding: 5px;
      }

      .ant-result-title {
        font-weight: 500;
      }
    }
  }
}