.modal_wrap {
  padding: var(--padding-mobile-wrapper);

}

.modal {
  max-width: 540px;

  .result {
    width: 100%;
    padding: var(--padding-clear);

    :global {
      .ant-result-title {
        font-weight: 500;
      }
    }
  }
}