.modal_wrap {
  padding: var(--padding-mobile-wrapper);

}

.modal {
  max-width: 540px;

  .result {
    width: 100%;
    padding: var(--padding-clear);

    :global {
      .ant-result-title {
        font-weight: 500;
        line-height: 130%;
      }

      .ant-result-subtitle {
        line-height: 130%;
      }
    }

    .button {
      font-size: 14px;
      line-height: 130%;
    }
  }
}