.drawer_header {
  padding: var(--padding-drawer);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  @media (max-width: 680px) {
    padding: var(--padding-drawer-small);
  }

  .drawer_icon {
    display: block;
    font-size: 14px;
    margin-top: 2px;
  }

  .drawer_title {
    margin: 0;
    flex: 1;
  }

  .button_close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    color: var(--character-light-secondary-45);
  }
}