.header {
  width: 100%;
  padding: 16px 24px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--primary-light-1);

  @media (max-width: 992px) {
    padding: var(--padding-header);
    flex-direction: column;
  }

  .header_title {
    width: 100%;
    margin: 0;
    font-weight: 500;
    font-size: 20px;

    @media (max-width: 992px) {
      font-weight: 400;
      font-size: 14px;
    }
  }

  .button_container {
    width: 100%;
    padding: 3px;
    display: flex;

    justify-content: flex-end;

    @media (max-width: 992px) {
      padding: 8px 0 6px;
    }

    @media (max-width: 480px) {
      padding: 0;
    }
  }
}