.selection_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--character-light-dividers);
  border-radius: 2px;

  .selection_body {
    padding: 32px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 480px) {
      padding: 32px 8px 24px;
    }

    .selection_title {
      margin: 0;
      text-align: center;
      color: var(--primary-light-9);
    }

    .selection_description {
      margin: 0;
      font-size: 14px;
      text-align: center;
      color: var(--character-light-secondary-45);
    }

  }

  .buttons_container {
    padding: 16px 88px;
    width: 100%;
    box-shadow: inset 0 1px 0 0 var(--character-light-dividers);
    display: flex;
    justify-content: center;
    gap: 16px;

    @media (max-width: 960px) {
      flex-direction: column;
      padding: 16px 0;
    }
  }
}