.background {
  height: 100%;
  width: 100%;
  min-height: 100vh;

  background-image: url('/enter_page_light.jpg');
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;

  :global {
    .ant-layout-content {
      height: 100%;
    }
  }

  .blur_background {
    height: 100%;

      backdrop-filter: blur(6px);
      background: rgba(121, 156, 212, 0.5);
  }
}