.general_info {
  padding: var(--padding-vertical-large);
  padding-right: 32px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;

  @media (max-width: 960px) {
    gap: 16px;
  }

  @media (max-width: 480px) {
    padding-right: 0;
    flex-direction: column;
  }

  .general_info_item {
    width: 156px;
    padding: 24px;

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    border: 1px solid var(--character-light-dividers);

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 480px) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      padding: 7px 16px;
    }

    .value {
      font-weight: 700;
      font-size: 38px;
    }

    .title {
      margin: 0;
      font-size: 14px;
      text-align: center;
      color: var(--character-light-secondary-45);
      width: min-content;

      @media (max-width: 480px) {
        width: auto;
      }
    }
  }

}