.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 290px;

  @media (max-width: 980px) {
    justify-content: flex-start;
    max-width: 100%;
  }

  .title {
    margin: 0;
    font-size: 14px;
  }

  .exercise_list {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: repeat(7, 32px);
    column-gap: 16px;
    row-gap: 4px;
  }
}