.header {
  background-color: var(--primary-light-1);
  height: auto;

  padding: 16px 24px;
  z-index: 6;

  .title {
    margin: 6px 0;
    letter-spacing: 0.1px;
    line-height: 130%;
    color: var(--character-light-title-85);
    font-weight: 700;

    @media (width <=1024px) {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: -0.1px;
    }

    @media (width <= 480px) {
      font-size: 20px;
      letter-spacing: 0;
    }
  }

  .breadcrumbs {
    line-height: 1;
    margin-bottom: 8px;

    @media (width <= 480px) {
      margin-bottom: 0;
    }
  }

  .breadcrumbs_item {
    line-height: 130%;
    color: var(--character-light-title-85);
  }

  .settings {

    color: var(--character-light-title-85);


    @media (width > 480px) {
      border: none;
      &:hover {
        background-color: transparent;
      }

      &:active {
        background-color: transparent;
      }

      &:focus {
        background-color: transparent;
      }
    }

    @media (width <=1024px) {
      :global {
        .anticon {
          display: none;
        }
      }
    }

    @media (width <=480px) {
      :global {
        .anticon {
          display: flex;
        }
      }
    }
  }
}

.horizontal_layout {
  display: flex;
  justify-content: space-between;
}