.header {
  background-color: var(--primary-light-1);
  height: auto;

  padding: 16px 24px;

  .title {
    margin: 6px 0;
    letter-spacing: 0.1px;
    line-height: 130%;
    color: var(--character-light-title-85);
    font-weight: 700;

    @media (width <=1024px) {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: -0.1px;
    }
  }

  .breadcrumbs {
    line-height: 1;
    margin-bottom: 8px;
  }

  .breadcrumbs_item {
    line-height: 130%;
    color: var(--character-light-title-85);
  }

  .settings {
    border: none;
    color: var(--character-light-title-85);
    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }

    &:focus {
      background-color: transparent;
    }

    @media (width <=1024px) {
      :global {
        .anticon {
          display: none;
        }
      }
    }
  }
}

.horizontal_layout {
  display: flex;
  justify-content: space-between;
}