.wrapper {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .title {
    margin: 0;
    line-height: 130%;
  }

  .description {
    margin: 0;
    color: var(--character-light-secondary-45);
    font-size: 14px;
    line-height: 130%;
  }

  .partners_list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}