.image_container {
  background-image: url(/main_page_light.jpg);
  background-size: cover;
  background-position-x: right;
  background-position-y: bottom;

  min-height: 100vh;
}

.main_container {
  background-color: transparent;



  .main_content {
    padding: 24px 24px 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .grid_container {
      max-width: 752px;
      background-color: transparent;
      margin-bottom: 24px;

      :global {
        .ant-card {
          border: none;

          .ant-card-head {
            margin-bottom: -4px;

            .ant-card-head-title {
              padding: 12px 0;
              line-height: 130%;
              color: var(--character-light-title-85);
            }
          }

        }


      }

      .card_actions {
        font-weight: 400;
        color: var(--primary-light-9);
        line-height: 150%;
      }

      .card_description {
        font-weight: 500;
        color: var(--character-light-title-85);
        font-size: 20px;
        line-height: 130%;
      }

      .card_button {
        color: var(--primary-light-6);
      }
    }


  }
}