.drawer_header {
  padding: 24px 32px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  @media (max-width: 680px) {
    padding: 24px 16px 16px;
  }

  .drawer_icon {
    display: block;
    line-height: 130%;
    font-size: 14px;
    margin-top: 2px;
  }

  .drawer_title {
    line-height: 130%;
    margin: 0;
    flex: 1;
  }

  .button_close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    color: var(--character-light-secondary-45);
  }
}