.main_container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .content_container {
    width: 100%;
    height: 100%;
    padding: 24px 24px 42px;


    @media (max-width: 480px) {
      padding: 24px 0 42px;
    }

    .content {
      width: 100%;
      height: 100%;
      background-color: var(--neutral-gray-1);

      border-radius: 8px;
      padding: 24px 24px 42px;

      @media (max-width: 480px) {
        border-radius: 0;
        padding: 16px 24px;
      }
    }
  }

  .alert {
    z-index: 10;
    position: absolute;
    bottom: 72px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px);
    max-width: 395px;

    @media (max-width: 480px) {
      bottom: 90px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 480px) {
    gap: 20px;
  }

  .form_section {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 480px) {
      gap: 20px;
    }

    .form_subtitle {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
    }

    .personal_info {
      max-width: 480px;
      display: flex;
      gap: 24px;

      @media (max-width: 480px) {
        flex-direction: column-reverse;
        gap: 16px;
      }

      .inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }

    .form_input {
      height: 40px;
      font-size: 14px;
      line-height: 130%;
      input {
        line-height: 130%;
      }
    }

    :global {
      .ant-form-item-explain {
        font-size: 12px;
      }
    }

    .private_info {
      max-width: 480px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .form_item_password, .form_item_confirm_password {
        margin-bottom: 30px;
      }

      .form_item_email {
        margin-bottom: 16px;
      }
    }
  }

  .private_info_section {
    margin-top: 16px;
  }

  .form_button_submit {
    font-size: 16px;
  }

}