.cancel_button {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 9;
  top: 12px;
  left: 3px;
}

.modal_header {
  position: relative;
  padding: 13px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;

  .select {
    width: 100%;
    display: flex;
    margin-left: 14px;

    :global {
      .ant-select.ant-select-single {
        .ant-select-selector {
          height: 28px;
          padding: 5px 12px;
        }
      }

      .ant-select-selector {
        align-items: center;
        border-color: transparent;
      }

      .ant-select-selection-item {
        text-align: left;
      }

      .ant-select-selection-placeholder {
        text-align: left;
        color: var(--character-light-title-85);
      }
    }
  }
}

.select_popup {
  :global {
    .ant-select-item {
      min-height: 28px;
    }
  }
}

.modal_content {
  box-shadow: inset 0 1px 0 0 var(--character-light-dividers);

  .empty {
    padding: var(--padding-vertical);
    margin-top: 13px;
    margin-bottom: 14px;
  }
}

.modal_footer {
  padding: 12px;
  box-shadow: inset 0 1px 0 0 var(--character-light-dividers);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error_modal_wrapper {
  z-index: 12;
  padding: var(--padding-modal-wrapper);

  .error_modal {
    max-width: 416px;

    :global {
      .ant-modal-body {
        padding: var(--padding-modal-body);

        .ant-modal-confirm-title {
          font-weight: 500;
        }

        .ant-modal-confirm-btns {
          margin-top: 24px;

          button {
            height: 40px;
          }
        }

        .anticon-close-circle {
          font-size: 24px;
        }
      }
    }
  }
}