.container {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  max-width: 970px;

  @media (max-width: 1040px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}