.main_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header_wrapper {
    padding: var(--padding-header);
    background-color: var(--primary-light-1);
  }

  .content_wrapper {
    width: 100%;
    height: 100%;
    padding: var(--padding-wrapper);

    @media (max-width: 480px) {
      padding: var(--padding-mobile-content-wrapper);
    }

    .content {
      height: 100%;
      width: 100%;
      border-radius: var(--border-radius-large);
      background-color: var(--neutral-gray-1);

      padding: 24px;

      @media (max-width: 480px) {
        padding: 16px;
      }

      :global {
        .ant-tabs-nav {
          margin: 5px 0;

          @media (min-width: 990px) {
            margin: 12px 0;
            margin-right: 32px;
          }
        }


        .ant-tabs-nav-list {

          @media (min-width: 520px) {
            width: 100%;
            justify-content: space-between;
          }

          @media (max-width: 990px) {
            padding: 0 12px;
          }

          .ant-tabs-tab {
            font-size: 24px;
            font-weight: 500;
            line-height: 130%;

            padding: 0;
            margin: 0 12px;

            @media (max-width: 990px) {
              font-size: 14px;
              font-weight: 400;

              padding: 14px 0;
              margin: 0 4px;
            }
          }
        }
      }
    }
  }
}