.main_container {
  height: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 680px) {
    overflow-y: auto;
    height: calc(100% - 48px);

    &::-webkit-scrollbar {
      width: 20px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--neutral-gray-6);
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #a8bbbf;
    }
  }

  @media (max-width: 480px) {
    margin-top: 20px;
    gap: 20px;
  }
}

.content_container {
  display: flex;
  flex-direction: column;
}